@import "/styles/colors";

.ul {
  height: 100%;
  display: flex;
  .logoWrapper {
    display: none;
  }
  li {
    height: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-left: thin solid $primary;
  }
  .active li {
    border: thin solid $interaction;
    box-shadow: inset 0 0 3rem 0 $interaction;
  }
}
