@import "/styles/colors";

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  h4 {
    text-transform: capitalize;
    color: $interaction;
  }
}

@media screen and (max-width: 1020px) {
  .wrapper {
    padding-left: 1rem;
  }
}
