@import "/styles/colors";

.ul {
  height: 100%;
  display: flex;
  li {
    height: 100%;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-left: thin solid $primary;
  }
  .active {
    border: thin solid $interaction;
  }
}
