@import "/styles/colors";

.nav {
  position: relative;
  height: 100%;
  width: 100vw;

  display: grid;
  grid-template: "logo three indicator links login" 1fr / 200px 8rem 1fr auto auto;
  padding-right: 1rem;

  border-bottom: thin solid $primary;
  box-shadow: 0 0 3rem -2rem $primary;

  .logo {
    grid-area: logo;
  }
  .threeWords {
    grid-area: three;
    border-left: thin solid $primary;
    border-right: thin solid $primary;
  }
  .indicator {
    grid-area: indicator;
  }
  .links {
    grid-area: links;
  }
  .login {
    grid-area: login;
  }
}

.nav .logo {
  position: relative;
  height: 5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.25rem;

  > svg {
    max-height: 100%;
    max-width: 80%;
    stroke-width: 12px;
  }
}

.nav .threeWords {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
