// ** Elements
$primary: rgb(65, 170, 190);
$primary-bg: rgba(65, 170, 190, 0.15);
$secondary: rgb(245, 160, 145);
$secondary-bg: rgba(245, 160, 145, 0.15);

$font-color: rgb(70, 130, 170);

// ** CANVAS
$bg-color: rgb(253, 253, 253);
$footer-bg-color: rgba(255, 255, 255, 0.95);

// ** ON INTERACTION (hover, activate etc..)
$interaction: $secondary;
$interaction-bg: $secondary-bg;
$active: $secondary;
$active-fade: $secondary-bg;

// ** INSTRUCTIVE COLORS

$success: rgb(0, 150, 0);
$success-bg: rgba(0, 150, 0, 0.08);

$warning: rgb(200, 200, 50);
$warning-bg: rgba(200, 200, 50, 0.15);

$error: rgb(200, 0, 0);
$error-bg: rgba(200, 0, 0, 0.15);

//#region ***** GLOBAL NAME TAGS

//#region ** Color theme
.primary {
  color: $primary;
}
.primary-bg {
  background: $primary-bg;
}
.secondary,
.active,
.interaction {
  color: $secondary;
}
.secondary-bg,
.active-bg,
.interaction-bg {
  background: $secondary-bg;
}
//#endregion
//#region ** green, yellow, red
.success,
.done,
.valid {
  color: $success;
}
.success-bg,
.done-bg,
.valid-bg {
  background: $success-bg;
}
.warning,
.pending {
  color: $warning;
}
.warning-bg,
.pending-bg {
  background: $warning-bg;
}
.error,
.alert {
  color: $error;
}
.error-bg,
.alert-bg {
  background: $error-bg;
}

.interaction {
  color: $secondary;
}
.interaction-bg {
  color: $secondary-bg;
}
.visible {
  opacity: 1;
}
.hide {
  opacity: 0;
  pointer-events: none;
}
//#endregion
