@import "/styles/colors";
@import "/styles/fonts";

a {
  color: $primary;
  text-decoration: none;
}
a:hover {
  color: $interaction;
}

//LI
li {
  list-style: none;
}
a > li {
  color: $primary;
}
a > li:hover {
  color: $interaction;
  cursor: pointer;
}
.active li {
  color: $active;
}

button {
  font-family: $font;
  color: $primary;
  background-color: transparent;
  border: thin solid;
  font-size: 1rem;
  font-weight: 600;
}
button:hover {
  color: $interaction;
  cursor: pointer;
}
