@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,300;1,400&display=swap");

@import "./colors";
@import "./config";
@import "./fonts";
@import "./form";
@import "./global-names";
@import "./scaling";
@import "./scrollbar";
@import "./elements";
@import "./transitions";

html {
  font-size: 16px;
  color: $primary;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body > div {
  > header {
    z-index: 10;
  }
  > main {
    position: relative;
    z-index: 1;

    padding-top: calc(5rem + 5vw);

    background-color: #fff;

    min-height: 100vh;
    margin-bottom: 12rem;
    border-bottom: thin solid $primary;

    > section {
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
    }
  }
  > footer {
    position: fixed;
    z-index: 0;
    left: 0;
    bottom: 0;

    height: 12rem;
  }
}

@media screen and (max-width: 1200px) {
  html body > div {
    main {
      padding-right: 1rem;
      padding-left: 1rem;
      section {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1040px) {
  html body > div {
    > main {
      z-index: 1;
      margin-bottom: 24rem;
    }
    > Footer {
      height: 24rem;
    }
  }
}

@media screen and (max-width: 840px) {
  main {
    z-index: 1;
  }
}

h1,
h2 {
  margin-bottom: 2vw;
}
h3,
h4 {
  margin-bottom: 1.5vw;
}
p,
h5,
h6 {
  margin-bottom: 1vw;
}
